In [4]:
import pandas as pd
data = { 
    'area': [2600,3000,3200,3600,4000,4100],
    'bedrooms': [3.0,4.0,'NaN',3.0,5.0,6.0],
    'age' : [20,15,18,30,8,8],
    'price':[550000,565000,610000,595000,760000,810000]
}
df=pd.DataFrame(data)
df

   area bedrooms  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000
5  4100      6.0    8  810000

In [14]:
import pandas as pd
import numpy as np
df['bedrooms'] = df['bedrooms'].replace('NaN',np.nan)
df['bedrooms'] = pd.to_numeric(df['bedrooms'])
median_bedrooms = (df['bedrooms'].median())
df['bedrooms'].fillna(median_bedrooms,inplace=True)
df

C:\Users\kjapl\AppData\Local\Temp\ipykernel_66048\1570240050.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['bedrooms'] = df['bedrooms'].replace('NaN',np.nan)
C:\Users\kjapl\AppData\Local\Temp\ipykernel_66048\1570240050.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bedrooms'].fillna(median_bedrooms,inplace=True)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df['price'])
reg.predict([[3000,3,40]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])